<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
		<add name="DefaultConnection"
            connectionString="Data Source=fitlife-sqlserver-db.c3i4iiwcuxq8.us-east-2.rds.amazonaws.com;Initial Catalog=FitLife2;User ID=admin;Password=FitLife2024#;Connect Timeout=30;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>