<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AccesoDatos.Properties.Settings.FitLifeConnectionString"
            connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=FitLife;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.FitLifeConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=FitLife;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="AccesoDatos.Properties.Settings.FitLifeConnectionString2"
            connectionString="Data Source=MCCARTHYS\SQLEXPRESS;Initial Catalog=FitLife;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>